- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`

mixin formFor(entity = null)
  form&attributes(attributes)
    block

mixin input(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .mb-3.form-floating(class=(errors[propertyName] && 'has-danger'))
    input(
      id= inputId
      name=getInputName(propertyName)
      placeholder= t(`views.labels.${propertyName}`)
      class=classLine
      value=_.get(entity, propertyName, '')
    )&attributes(attributes)
    label(for=inputId)= t(`views.labels.${propertyName}`)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin submit(form = null)
  input(class='btn btn-primary' type='submit')&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)

mixin select(entity, propertyName, errors = {}, items, multiple = false)
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (!propertyErrors ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  - name = getInputName(propertyName)
  - selectedOptions = entity[propertyName] ? [entity[propertyName]].flat().map((item) => item.id ? Number(item.id) : Number(item)) : []
  .mb-3
    label(for=inputId)= t(`views.tasks.${propertyName}`)
    select.form-control(
        id= inputId,
        name=name,
        multiple=multiple,
        class=classLine
      )
      option
      each item in items
        - isSelect = _.includes(selectedOptions, item.id)
        option(value=item.id selected= isSelect)= item.name
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin textarea(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (!propertyErrors ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  - name = getInputName(propertyName)
  - value=_.get(entity, propertyName, '')
  .mb-3(class=(errors[propertyName] && 'has-danger'))
    label(
      for= inputId
    )= t(`views.tasks.${propertyName}`)
    textarea(
      id= inputId
      name= name
      class=classLine
    )&attributes(attributes) #{value}
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin filterSelect(entityName, propertyName, items)
  - inputId = getInputId(propertyName)
  - isSelected = (item) => item.id == query[propertyName]
  .form-group
    label(for=inputId)= t(`views.${entityName}s.filter.${propertyName}`)
      select.form-control(id=inputId name=propertyName)
        option
        each item in items
          option(value = item.id selected=isSelected(item))= item.name 

mixin checkbox(entityName, propertyName)
  - inputId = getInputId(propertyName)
  - name = getInputName(propertyName)
  .form-group.form-check
    input.form-check-input(id=inputId type='checkbox', name=propertyName, checked=(!!query[propertyName]))
    label.form-check-label(for=inputId)= t(`views.${entityName}s.filter.checkbox`)