extends ../layouts/application.pug

block content
  h1= t('layouts.application.tasks')
  a.btn.btn-primary.mb-5(href=route('tasksNew'))= t('views.tasks.createNewTaskButton')
  .card.shadow-sm
    .card-body.p-4
      +formFor()(action=route('tasks') method='get' class="form-inline")
        .row
          .col-12.col-md
            +filterSelect('task', 'status', statuses)
          .col-12.col-md
            +filterSelect('task', 'executor', usersNormalized)
          .col-12.col-md
            +filterSelect('task', 'label', labels)
        +checkbox('task','isCreatorUser')
        +submit()(value=t('views.tasks.filter.submit'))
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th= t('views.tasks.actions.header')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('tasksShow', { id: task.id }))= task.name
          td= task.status.name
          td= `${task.creator.firstName} ${task.creator.lastName}`
          if task.executor
            td= `${task.executor.firstName} ${task.executor.lastName}`
          else
            td
          td= task.createdAt
          td
            ul.nav
              li
                a.btn.btn-primary.mx-2(href=route('tasksEdit', { id: task.id }))= t('views.tasks.actions.edit')
              li
                +buttonTo(route('tasksDelete', { id: task.id }), 'delete')(class="btn btn-danger" value=t('views.tasks.actions.delete'))