extends ../layouts/application.pug

block content
  .card
  .card-header
    h2= task.name
  .card-body.bg-light
    p= task.description
    hr
    .container
      .row.p-1
        .col= t('views.tasks.creator')
        .col= `${task.creator.firstName} ${task.creator.lastName}`
      .row.p-1
        .col= t('views.tasks.executorId')
        if task.executor
          .col= `${task.executor.firstName} ${task.executor.lastName}`
        else
          .col
      .row.p-1
        .col= t('views.tasks.statusId')
        .col= task.status.name
      .row.p-1
        .col= t('views.tasks.createdAt')
        .col= formatDate(task.createdAt)
      .row.p-1
        .col
          h6= t('views.tasks.labels')
          ul
            each label in task.labels
              li= label.name
      .row.p-1
        .col
          ul.nav
              li
                a.btn.btn-primary.mx-2(href=route('tasksEdit', { id: task.id }))= t('views.tasks.actions.edit')
              li
                +buttonTo(route('tasksDelete', { id: task.id }), 'delete')(class="btn btn-danger" value=t('views.tasks.actions.delete'))